.atat
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../media/rescateLeia.jpg') center/cover no-repeat;
    z-index: -1;
    animation: fadeOut 2s ease-in-out 32s forwards;
}
.baseRebelde
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../media/baseRebelde.jpg') center/cover no-repeat;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 2s ease-in-out 32s forwards;
}
.mision
{
    position: fixed;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.9);
    color: #00aaff;
    padding: 30px 50px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.8);
    text-align: center;
    max-width: 80%;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 2s ease-in-out 32s forwards;
}
.QR
{
    position: fixed;
    top: 180px;
    left: 400px;
    width: 15%; 
    z-index: 10;
    filter: brightness(1.3) contrast(1.5) saturate(1.2);
    border-radius: 10px; /* Bordes suaves */
    background: linear-gradient(135deg, rgba(21, 20, 90, 0.56), rgba(51, 152, 199, 0.8), rgba(21, 20, 90, 0.56));
    box-shadow: 0 0 15px rgba(47, 125, 164, 0.73), 
                0 0 30px rgba(85, 50, 212, 0.6), 
                0 0 50px rgba(59, 152, 223, 0.4); /* Efecto de resplandor azul marino */
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 2s ease-in-out 32s forwards;
    animation-fill-mode: forwards;
}
.rebelde
{
    position: fixed;
    top: 607px;
    right: 390px;
    width: 3%; 
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 2s ease-in-out 32s forwards;
    animation-fill-mode: forwards;
}
.instrucciones
{
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.9);
    color: #00aaff;
    padding: 30px 50px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.8);
    text-align: center;
    max-width: 80%;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 2s ease-in-out 32s forwards;
}
.titulo
{
    position: fixed;
    top: 18%;
    left: 21%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.78);
    color: #00aaff;
    padding: 20px 40px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(0, 170, 255, 0.8);
    text-align: center;
    animation: fadeOut 2s ease-in-out 30s forwards;
}
.introduccion
{
    margin: 20px;
    padding: 20px;
    position: fixed;
    width: 30%;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.78);
    color: #00aaff;
    padding: 20px 40px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(0, 170, 255, 0.8);
    text-align: center;
    animation: fadeOut 2s ease-in-out 30s forwards;
}
.respuesta-user
{
    position: fixed;
    top: 42%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.9);
    color: #00aaff;
    padding: 30px 50px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.8);
    text-align: center;
    max-width: 80%;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 2s ease-in-out 32s forwards;
    
}
.respuesta-user::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background: radial-gradient(circle, rgba(0, 170, 255, 0.3) 10%, transparent 80%);
    border-radius: inherit; /* Para que siga la forma del botón */
    transition: all 0.4s ease-in-out;
    opacity: 0; /* Ocultarlo inicialmente */
}

/* Efecto al pasar el mouse */
.respuesta-user:hover {
    background: rgba(0, 170, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.8), 0 0 40px rgba(0, 170, 255, 0.6);
    transform: scale(1.05);
}

.respuesta-user:hover::before {
    top: 0;
    left: 0;
}
@keyframes fadeOut 
{
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}
@keyframes fadeIn 
{
    0% { opacity: 0; visibility: hidden; }
    100% { opacity: 1; visibility: visible; }
}