body {
    background-image: url('../media/cockpit.png');
}
.titulo
{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.78);
    color: #00aaff;
    padding: 20px 40px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(0, 170, 255, 0.8);
    text-align: center;
    animation: fadeOut 2s ease-in-out 30s forwards;
}
.introduccion
{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.78);
    color: #00aaff;
    padding: 20px 40px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(0, 170, 255, 0.8);
    text-align: center;
    animation: fadeOut 2s ease-in-out 30s forwards;
}
.mision
{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(13, 52, 71, 0.78);
    color: #00aaff;
    padding: 20px 40px;
    border: 2px solid rgba(0, 170, 255, 0.8);
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(0, 170, 255, 0.8);
    text-align: center;
    animation: fadeIn 2s ease-in-out 30s forwards;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}